 # This is Git's per-user configuration file.
[user]
  name = klkelley
  email = kelley.15@gmail.com

[alias]
  killremote = push origin --delete
  st = status
  co = checkout

[includeIf "gitdir:~/Work/"]
  path = ~/Work/.gitconfig

[includeIf "gitdir:~/code-challenges/"]
  path = ~/code-challenges/.gitconfig
[core]
	excludesfile = /Users/karakelley/.gitignore_global
